body{
  margin: 0px;
  padding: 0px;
}


.nav{
  background-color: aqua;
  color: blueviolet;
  display: flex;
  justify-content: center;
}
.nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 90px;
}